@using Shopping.Models.DTO;
@using System.Security.Claims;

@*@await Html.PartialAsync("_LoginPartial", new LoginModel())*@
@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping theme</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/text.css" />
    <link rel="stylesheet" href="~/css/960.css" />
    <link rel="stylesheet" href="~/style.css" />
    <link href="~/css/custom-mvc/popup.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--slick-carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

    <meta charset="UTF-8">

    @RenderSection("Styles", required: false)

    <style>
        .form-outline {
            position: relative;
        }

        #eye-toggle {
            position: absolute !important;
            top: -53px !important;
            right: 10px !important;
            transform: translateY(-50%);
            padding: 0;
            border: none;
            background: none;
        }
    </style>
</head>
<body>
    <header>

        @if (!(controller.Equals("Account") && action.Equals("Login")))
        {
            <div class="header">
                <div class="container_16">
                    <div class="grid_10 logo">
                        <a href="./index.html"><img src="~/images/logo.png" alt="logo" /></a>
                    </div>
                    <div class="grid_6">
                        <a href="#" class="search">&nbsp;</a>
                        <div class="searchtoggle">
                            <form asp-action="Index" asp-controller="Search" method="post" id="frmSearch">
                                <input type="text" name="query" id="searchBar" />
                            </form>
                        </div>

                        <!--- Partial view of Login-Register --->
                        @if (string.IsNullOrEmpty(User.Identity.Name))
                        {
                            <a href="javascript:;" id="login-btn" class="loginregister">&nbsp;</a>
                            <div class="modal fade" id="login-popup" role="dialog">
                                <div class="modal-dialog">
                                </div>
                            </div>

                        }
                    </div>
                    <input type="hidden" id="userNm" value=@User.Identity.Name />

                    <div>
                        <div id="notif">Welcome back User!</div>
                    </div>

                    <!--- Partial view of Menu --->
                    @Html.Partial("_MenuPartial")

                    @if (!(controller.Equals("Account") && action.Equals("Register")))
                    {
                        <div class="grid_16 main">
                            <div class="smallmenu">
                                <ul>
                                    <li><a href="#" class="myacc">My Account</a></li>
                                    <li>
                                        <a href="@Url.Action("ViewCart", "Cart", new {UserId = isAuthenticated ? User.FindFirst(ClaimTypes.NameIdentifier).Value : null})" class="myshop">Shopping Cart</a>
                                    </li>
                                    <li><a href="#" class="mycheck">Checkout</a></li>
                                </ul>
                            </div>
                            <div class="lines"></div>
                        </div>
                    }


                </div>
            </div>
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="toast custom-toast">
                <div class="toast-content">
                    <i class="fa fa-solid fa-check check"></i>
                    <div class="message">
                        <p class="text text-1">Success</p>
                        <p class="text text-2">Your changes has been saved</p>
                    </div>
                </div>
                <i class="fa fa-close close"></i>
                <div class="progress"></div>
            </div>
        </main>
    </div>

    <!-- footer section -->
    @if (!(controller.Equals("Account") && action.Equals("Login")))
    {
        <!-- sub-footer section start-->
        <div class="subfooter">
            <div class="container_16">
                <div class="boxwrap">
                    <div class="footerbox twitter">
                        <h2 class="title">Twitter Updates</h2><div class="shizzle4"></div>
                        <ul class="tweets">
                            <li>
                                Check out this great #themeforest item for you
                                'Simpler Landing' <a href="#">http://t.co/LbLwldb6 </a>
                                <span>2 hours ago</span>
                            </li>
                            <li class="lastone">
                                Check out this great #themeforest item for you
                                'Simpler Landing' <a href="#">http://t.co/LbLwldb6 </a>
                                <span>2 hours ago</span>
                            </li>
                        </ul>
                        <a href="#" class="followus">Follow us on twitter</a>
                    </div>
                    <div class="footerbox">
                        <h2 class="title">Newsletter Signup</h2><div class="shizzle4 mid"></div>
                        <div class="newsletter">
                            Become the first one to know about every new
                            product we release on every day. Sign Up for
                            the newsletter to get discouns too..
                            <form class="signup" action="#" method="GET">
                                <label for="emailba">Your email address</label>
                                <input type="text" value="your@email.com" class="mailinput" id="mailinput" name="mailinput" />
                                <input type="submit" class="mailsubmit" value="Sign Up" id="signup" name="signup" />
                            </form>
                        </div>
                    </div>
                    <div class="footerboxlast">
                        <img src="~/images/minilogo.png" class="minilogo" alt="logo" />
                        <div class="shizzle4 slast"></div>
                        <div class="clear"></div>
                        <ul class="infos">
                            <li class="fphone">+387 123 456, +387 123 456 <br /> +387 123 456</li>
                            <li class="fmobile">+387-123-456-1<br />+387-123-456-2</li>
                            <li class="fmail lastone">your@email.com<br />customer.care@mail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- sub-footer section end -->
        <div class="footer">
            <div class="container_16">
                <div class="grid_13">
                    <ul class="footermenu">
                        <li><a href="~/Home/Index">Home</a></li>
                        @* <li id="cartButton"><a href="~/Cart/IndexCart">My Cart</a></li>*@
                        <li id="#"><a href="Cart/IndexCart">My Cart</a></li>
                        <li><a href="~/Checkout/IndexCheckout">Checkout</a></li>
                        <li><a href="./order.html">Completed Orders</a></li>
                        <li><a href="~/Contact/IndexContact">Contact us</a></li>
                    </ul>
                    <span class="copyline">&copy;All rights reserved by <a href="#">sanyamkyada</a></span>
                    <div class="cards"><img src="~/images/cards.png" alt="credit cards" /></div>
                </div>
                <div class="grid_3">
                    <span class="followon">Follow us on</span>
                    <div class="socializer">
                        <a href="http://twitter.com/minimalthemes" class="ftwitter">twitter><img src="~/images/twitter-logo.png"></a>
                        <a href="http://www.facebook.com/pages/Minimal-Themes/264056723661265" class="ffacebook">facebook</a>
                        <a href="#" class="fflickr">flickr</a>
                        <a href="#" class="ffeed">feed</a>
                    </div>
                </div>
            </div>
            <!--Cookie consent-->
            <div id="cookieConsent" class="alert alert-warning alert-dismissible fade show" role="alert">
                We use cookies to improve your browsing experience on our site. Click "Accept" to consent to the use of cookies.
                <button id="acceptCookieButton" type="button" class="btn btn-sm btn-primary ml-2">Accept</button>
            </div>
        </div>
    }

    <div class="modal fade" id="welcome-popup" role="dialog">
        <div class="modal-dialog">
        </div>
    </div>

    <!-- footer end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/jquery.carousel.js" type="text/javascript" charset="utf-8"></script>
    @*<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAcMv377CQr78x__fnejif6hTFwWbAnXhlB366t992QiHPWDYoVxROKqqm5TQzJ8uyw1i7cYqSvzriYA"></script>*@
    <script type="text/javascript" src="~/js/jquery.gmap-1.1.0-min.js"></script>
    <script src="~/js/jquery.rating.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/jquery.anythingslider.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/custom.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/custom-mvc/layout.js"></script>
    <!--slick-carousel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
