@using Shopping.Models.ViewModels;
@model Vm_Products
@{
    ViewData["Title"] = "Fashion";
}

<style>
    .ratio3by2 {
        margin-top:0;
        height:74%;
        width:93%;
    }

    .ratio1by1 {
        margin-top: 6px;
        height: 94%;
        width: 80%;
        margin-left:20px;
    }

    .fullprod li.ratio1by1{
        margin-bottom:50px;
    }
</style>

<div class="container_16 padding50">
    <div class="grid_16">
        <div class="ribbonbig">
            <div class="lijevo">
                <div class="bread"><a href="#">Home</a>&nbsp;&nbsp;&gt;&nbsp;Category</div>
                <div class="bigtitle">Category</div>
            </div>
            <div class="desno">
                <a href="#" class="padd">Buy theme</a>
            </div>
        </div>
        <div class="content">
            <div class="shiztitle">
                <h2 class="title h2bg">Category - All items</h2>
            </div>
            <ul class="featprod fullprod">  
                @if (Model != null)
                {
                    foreach (var product in Model.prodList)
                    {
                        <a href="@Url.Action("ProductDetails", "Product", new{title = product.SKUs.FirstOrDefault().Title.Replace(" ", "-"), skuName = product.SKUs.FirstOrDefault().SKUName, id = product.SKUs.FirstOrDefault().Id, selector=0})">
                        <li class="@product.AspectRatioCssClass">
                            <img class="fimg2 @product.AspectRatioCssClass" alt="@product.Name" src="@product.SKUs.FirstOrDefault().ThumbImage">
                            <span class="smalltitle">@product.Name</span>
                                @*<span class="smalldesc">@product.Description</span>*@
                            <span class="onsale"><span class="oldprice">@product.SKUs.FirstOrDefault().OldPrice</span>@product.SKUs.FirstOrDefault().SellingPrice</span>
                        </li>
                        </a>
                    }
                }
            </ul>
            <div class="clear"></div>

            <div class="navigation">
                <a href="#" class="prevposts">previous</a>
                @for(int i = 1; i<= Model.Count; i++)
                {
                    @if(i != Model.pageIndex)
                    {
                        <a href="@Url.Action("Index", "Product", new{categoryId = Model.prodList.FirstOrDefault().CategoryId, currentPage = @i})" class="inactiveposts">@i</a>
                    }
                    else
                    {
                        <a class="inactiveposts" style="background:#f7c34c">@i</a>
                    }
                }
                <a href="#" class="nextposts">nextposts</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
       
    </script>
}



