@using System.Security.Claims;
@model Shopping.Models.ViewModels.Vm_ProductDetail

@functions {
    int i = 0;
    public async Task DisplayReviews(int parentId = 0, int level = 0)
    {
        var parentReviews = Model.ReviewModels.Where(r => r.ParentReviewId == parentId).ToList();

        if (parentReviews.Count == 0)
        {
            return;
        }

        foreach (var review in parentReviews)
        {
            <div style="padding-left: @(level * 20)px">
                <span class="user">@review.User</span> (@review.reviewDate.Date.ToShortDateString())
                <div class="reviewtext">
                    @review.Text
                    <div id="review-open-@i"><a><i class="fa fa-reply"> reply</i></a></div>
                    <form id="formReview-@i" class="review" asp-action="ReviewSubmit" asp-controller="Product" method="post">
                        <div class="review" id="review-form-@i" style="display:none">
                            @*<input type="text" placeholder="Your Name" id="reviewname" name="reviewname" />*@
                            <input type="hidden" id="reviewname" name="reviewname" value="@(Model.currentUserName)" />
                            <textarea class="reviewarea" id="reviewarea" name="reviewarea" style="width:@(595 - (level*20))px;" placeholder="Your reply"></textarea>
                            <input type="hidden" name="parentId" value="@(review.Id)">
                            <input type="hidden" name="productId" value="@(Model._SKU.ProductId)">
                            <input type="hidden" name="skuTitle" value="@(Model._SKU.Title)">
                            <input type="hidden" name="skuName" value="@(Model._SKU.SKUName)">
                            <input type="hidden" name="skuId" value="@(Model._SKU.Id)">
                            <input type="hidden" name="Selector" id="selectorId-@i">
                            <input type="button" class="mailsubmit" value="Submit" id="reviewsubmit-@i" name="reviewsubmit" />
                            <input hidden id="userName" value="@User.Identity.Name" />
                            <button type="button" id="review-close-@i" class="btn-close" aria-label="Close" style="margin-left:15px; margin-top:15px"></button>
                        </div>
                    </form>
                </div>

            </div>

            i++;
            await DisplayReviews(review.Id, level + 1);
            //i++;
        }
    }
}

@{
    var userName = User.FindFirst(ClaimTypes.Name).Value;
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    var securityStamp = User.FindFirst("AspNet.Identity.SecurityStamp").Value;
}

<style>
    .navigationSKU {
        width: 100%;
        margin-left: auto;
    }

        .navigationSKU a {
            display: block;
            width: 36px;
            height: 36px;
            background: #FFF;
            border-bottom: 1px solid #C2CBD2;
            border-right: 1px solid #C2CBD2;
            border-radius: 5px;
            float: left;
            margin-right: 6px;
            text-decoration: none;
            color: #363d47;
            font-size: 12px;
            line-height: 35px;
            text-align: center;
        }

    .mainimg img.ratio3by2{
        width:90%;
    }

    .mainimg img.ratio1by1{
        height:95%;
        margin-left:46px;
    }

    .relprod img.ratio1by1{
        margin-top:8px;
    }
    .relprod li.ratio1by1{
        margin-bottom:48px;
    }

</style>

<div class="container_16 padding50">
    <div class="grid_16">
        <div class="ribbonbig">
            <div class="lijevo">
                <div class="bread"><a href="#">Home</a>&nbsp;&nbsp;&gt;&nbsp;Nikon Camera</div>
                <div class="bigtitle">Nikon Camera</div>
            </div>
            <div class="desno">
                <a href="#" class="padd">Buy theme</a>
            </div>
        </div>

    </div>


    @if (Model is not null)
    {
        <div id="sku-container">
            <div class="grid_11 singleleft">
                <div class="shiztitle">
                    <h2 class="title h2bg">@Model._SKU.Title</h2>
                </div>
                <div class="clear"></div>

                <div class="productimages">
                    <div class="mainimg"><img class="@Model._Product.AspectRatioCssClass" src="@Model._SKU.ThumbImage" alt="nikon"/></div>   
                    <span class="onsale"><span class="oldprice">@Model._SKU.OldPrice</span>@Model._SKU.SellingPrice</span>

                    @{
                        int index = 0;
                    }
                    @foreach (var item in Model.SKUImages.Where(s => s.IsMain == false))
                    {
                        <div class="psimages">
                            <img src="@item.ImageUrl" alt="" hight="150%" width="95%" id="sku-image-@index" data-index="@item.Id" />
                        </div>
                        index++;
                    }
                </div>

                <div class="productdata">
                    @foreach (var item in Model.skuAttrs)
                    {
                        <div class="infospan">@Model.attrMstrs.FirstOrDefault(a=>a.Id == item.AttributeMasterId).Lable<span>@item.Value</span></div>
                    }
                    <div class="average">
                        <div class="rated">
                            <input name="star3" type="radio" class="star" disabled="disabled" />
                            <input name="star3" type="radio" class="star" disabled="disabled" />
                            <input name="star3" type="radio" class="star" disabled="disabled" />
                            <input name="star3" type="radio" class="star" disabled="disabled" checked="checked" />
                            <input name="star3" type="radio" class="star" disabled="disabled" />
                        </div>
                    </div>

                    <br>
                    <h4>Available Options</h4>
                    <br>
                    <div class="infospan">
                        Colour <select onchange="selectColors(event)" id="test1">
                            <option value="" selected disabled>Colour</option>
                            @foreach (var item in Model._SKUList.Where(s => s.IsMain == true))
                            {
                                if (Model._SKU.Colour == item.Colour)
                                {
                                    <option value="@item.Id" data-title="@item.Title" data-name="@item.SKUName" selected>@item.Colour</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Colour</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="psSizes">
                        <div class="navigationSKU" style="margin-left: 17px; margin-top: 20px; ">
                            @{
                                var index2 = 0;
                            }
                            @foreach (var item in Model._SKUList.Where(c => c.Colour == Model._SKU.Colour))
                            {
                                <div id="inactivepostsId-@index2">
                                    <a href="@Url.Action("ProductDetails", "Product", new{title = item.Title.Replace(" ", "-"), skuName = item.SKUName, id = item.Id,selector = @index2})" class="inactiveposts-@index2">@item.Style</a>
                                </div>
                                index2++;
                            }
                        </div>
                    </div>

                    <div class="quantity">
                        <form>
                            <input type="hidden" name="SKUId" value="@Model._SKU.Id">
                            <input type="hidden" name="UserId" value="@userId">
                            <span>Qty.:</span> <input type="text" class="quantityinput" id="quantityInput" name="Quantity" value="1" />
                            <input type="button" class="addtocart" id="addToCartBtn" name="addtocart" value="Add to Cart" />
                        </form>
                    </div>

                    <!--CartPopup-->
                    <div class="modal fade" id="cartModal" role="dialog">
                        <div class="modal-dialog">
                        </div>
                    </div>

                    <div class="sharing">
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_counter addthis_pill_style"></a>
                        </div>
                        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f0d0827271d1c3b"></script>
                        @if (Model._SKU.Quantity <= 0)
                        {
                            <span class="instock">Out of stock</span>
                        }
                        else
                        {
                            <span class="instock">In stock</span>
                        }
                    </div>
                </div>



                <div class="tabs">
                    <!-- tabs -->
                    <ul class="tabNavigation">
                        <li><a href="#desc">Description</a></li>
                        <li><a href="#reviews">Reviews (@Model.ReviewModels.Where(i => i.ParentReviewId == 0).Count())</a></li>
                    </ul>

                    <!-- tab containers -->
                    <div id="desc">
                        <p>@Model._SKU.Description</p>
                    </div>
                    <div id="reviews">
                        @{
                            DisplayReviews(0, 0);
                        }

                        <div class="write">
                            <h4>Write review</h4>
                            <form id="formReview-@i" class="review" asp-action="ReviewSubmit" asp-controller="Product" method="post">
                                @*<input type="text" value="Your Name" id="reviewname" name="reviewname" />*@
                                <input type="hidden" value="@(Model.currentUserName)" id="reviewname" name="reviewname" />
                                <textarea class="reviewarea" id="reviewarea" name="reviewarea" style="width:595px;">Your review</textarea>
                                <div class="rate">
                                    <span>Rating:</span>
                                    @*<input name="star1" id="star1" type="radio" class="star" value="1"/>
                                <input name="star1" id="star1" type="radio" class="star" value="2"/>
                                <input name="star1" id="star1" type="radio" class="star" value="3"/>
                                <input name="star1" id="star1" type="radio" class="star" value="4"/>
                                <input name="star1" id="star1" type="radio" class="star" value="5"/>*@
                                    @for (int i = 1; i < 6; i++)
                                    {
                                        <input name="star1" id="star-@i" type="radio" class="star" value="@i" />
                                    }
                                </div>
                                <input type="hidden" name="productId" value="@(Model._SKU.ProductId)">
                                <input type="hidden" name="skuTitle" value="@(Model._SKU.Title)">
                                <input type="hidden" name="skuName" value="@(Model._SKU.SKUName)">
                                <input type="hidden" name="skuId" value="@(Model._SKU.Id)">
                                <input type="hidden" name="productId" value="@(Model._SKU.ProductId)">
                                <input type="hidden" name="parentId" value="0">
                                <input type="hidden" name="Selector" id="selectorId-@i">
                                <input hidden id="userName" value="@User.Identity.Name" />
                                <div id="reviewErrorMessage" class="text-danger"></div>
                                <input type="button" class="mailsubmit" value="Submit" id="reviewsubmit-@i" name="reviewsubmit" />
                            </form>
                        </div>


                    </div>
                </div>

                <div>
                    <!----- Related Products ----->
                    <div class="shiztitle">
                        <h2 class="title h2bg">Related Products</h2>
                    </div>
                    <ul class="featprod grayprod relprod">
                        @if (Model != null)
                        {
                            foreach (var sku in Model.relatedSKUList)
                            {
                                <a href="@Url.Action("ProductDetails", "Product", new{title = sku.Title.Replace(" ", "-"), skuName = sku.SKUName, id = sku.Id, selector = 0})">
                                <li class="@Model._Product.AspectRatioCssClass">
                                    <img class="fimg2 ratio1by1" alt="@sku.Title" src="@sku.ThumbImage" hight="90%" width="90%">
                                    <span class="smalltitle">@sku.Title</span>
                                    @*<span class="smalldesc">@sku.Description</span>*@
                                    <span class="onsale"><span class="oldprice">@sku.OldPrice</span>@sku.SellingPrice</span>
                                </li>
                                </a>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>



    }



    <div class="grid_4 righthome">
        <h2 class="title">Categories</h2><div class="shizzley shizzley3"></div>
        <div class="categorybox">
            <ul>
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Adidas shoes</a></li>
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Adidas shoes</a></li>
            </ul>
        </div>
        <div class="ads">
            <a href="#"><img src="~/images/ads.png" alt="ads"></a>
        </div>
        <div class="categories-widget">
            <div class="shiztitle">
                <h2 class="title h2bg">Best sellers</h2>
            </div>
            <div class="categorybox sellers">
                <ul>
                    <li>
                        <a href="#"><img class="smallpreview" alt="" src="~/images/smallcam.png"></a>
                        <a class="smalltitle2" href="#">Panasonic M3</a>
                        <span class="smallprice2">Price : $122</span>
                    </li>
                    <li>
                        <a href="#"><img class="smallpreview" alt="" src="~/images/smallcam.png"></a>
                        <a class="smalltitle2" href="#">Panasonic M3</a>
                        <span class="smallprice2">Price : $122</span>
                    </li>
                    <li>
                        <a href="#"><img class="smallpreview" alt="" src="~/images/smallcam.png"></a>
                        <a class="smalltitle2" href="#">Panasonic M3</a>
                        <span class="smallprice2">Price : $122</span>
                    </li>
                    <li class="lastone">
                        <a href="#"><img class="smallpreview" alt="" src="~/images/smallcam.png"></a>
                        <a class="smalltitle2" href="#">Panasonic M3</a>
                        <span class="smallprice2">Price : $122</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $('#addToCartBtn').click(function (e) {
            debugger;
            e && e.preventDefault();
            var CartData = $(this).closest('form').serialize();
            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                //dataType: "json",
                data: CartData,
                success: function (response) {
                    debugger;
                    $.ajax({
                        type: "GET",
                        url: "/Cart/getCartPopup",
                        data: {UserId:response.userId},
                        success: function (result2) {
                            debugger;
                            console.log('reached at inner ajax');
                            $('#cartModal').html('');
                            debugger;
                            $("#cartModal").html(result2);
                            debugger;
                            $("#cartModal").modal('show');

                        },
                        error: function (result2) {
                            console.log("Error");
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                }
            });
        });
    </script>

    <script>
        function updateSKU(id, element) {

            $.ajax({
                url: '/Product/GetSKU',
                type: 'POST',
                data: { id: id },
                success: function (result) {
                    $("#sku-container").html(result);
                    window.scrollTo(100, 300)
                    debugger;
                    $(this).removeClass('navigation');
                    $(this).addClass('activeSKU');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Colour Dropdown
        function selectColors(e) {
            debugger;
            var title = "";
            var skuName = "";
            for (let i = 0; i < e.currentTarget.options.length; i++) {

                if (e.currentTarget.options[i].dataset.title != undefined)
                    title = e.currentTarget.options[i].dataset.title.replace(' ', '-');
                if (e.currentTarget.options[i].dataset.name != undefined)
                    skuName = e.currentTarget.options[i].dataset.name.replace(' ', '-');
            }
            if (title != "" && skuName != " ") {
                var ProdId = $("#test1").val();
                var selector = window.location.href.split('/')[7];
                window.location.href = '/ProductDetails/' + title + '/' + skuName + '/' + ProdId + '/' + selector;
                window.scrollTo(100, 300);
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('[id^="sku-image-"]').click(function () {
                var id = $(this).attr('id').split('-')[2];
                $('#review-form-' + id).show();
            });
            for (let i = 0; i < 100; i++) {
                $("#sku-image-" + i).click(function (e) {
                    e.preventDefault();
                    debugger;
                    var currentThumb = $(this).attr("src");

                    $(this).attr("src", $(this).closest(".productimages").find(".mainimg img").attr("src"));
                    $(this).closest(".productimages").find(".mainimg img").attr("src", currentThumb);

                });
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            var id = window.location.href.split('/')[7];
            if (id != undefined || id != null) {
                $('.inactiveposts-' + id).css("background", "#f7c34c");
            }
            else {
                $(".inactiveposts-0").css("background", "#f7c34c");
            }
        });

        //$(function () {
        //    $('[id^="inactivepostsId-"]').click(function () {
        //        var id = $(this).attr('id').split('-')[1];
        //        $('.inactiveposts-' + id).css("background", "#f7c34c");
        //    });
        //});

        $(function () {
            $('[id^="review-open-"]').click(function () {
                var id = $(this).attr('id').split('-')[2];
                $('#review-form-' + id).show();
            });

            $('[id^="review-close-"]').click(function () {
                var id = $(this).attr('id').split('-')[2];
                $('#review-form-' + id).hide();
            });
        });

        $('[id^="reviewsubmit-"]').click(function (e) {
            debugger;

            if ($(this).closest('form').find('.star-rating-control').length > 0) {
                if ($('input[name="star1"]:checked').length === 0) {
                    $('#reviewErrorMessage').text("You must give a rating");
                    return false;
                }
            }

            var uName = $("#userName").val();

            if (uName) {
                e.preventDefault();
                var id = $(this).attr('id').split('-')[1];
                var selector = window.location.href.split('/')[7];
                $("#selectorId-" + id).val(selector);
                $("#formReview-" + id).trigger('submit');
            }
            else {
                debugger;
                $.ajax({
                    type: "GET",
                    url: "/Account/Login",
                    success: function (result) {
                        $("#myModal").html(result);
                        loginAction();
                    },
                    error: function (result) {
                        alert("err");
                        console.log("Error");
                    }
                });
                $("#myModal").modal('show');
                $("#username").val("");
                $("#password1").val("");
                $("#loginErrorMessage").text("");
            }

        });

                //$("#reviewsubmit").click(function (e) {
                //    debugger;
                //    e.preventDefault();
                //    var uName = $("#userName").val();
                //    var id = $(this).attr('id').split('-')[1];
                //    var selector = window.location.href.split('/')[7];
                //    $("#selectorId").val(selector);
                //    $("#formReview").trigger('submit');
                //});

    </script>
}
