@using Shopping.Models.ViewModels;
@model List<Vm_CartItems>

@{
}


<div class="container_16 padding50" id="mycart">
	<div class="grid_16">
		<div class="ribbonbig">
			<div class="lijevo">
				<div class="bread"><a href="#">home</a>&nbsp;&nbsp;&rsaquo;&nbsp;shopping cart</div>
				<div class="bigtitle">shopping cart</div>
			</div>
			<div class="desno">
				<a class="padd" href="#">buy theme</a>
			</div>
		</div>


		<div class="content">
			<div class="shiztitle">
				<h2 class="title h2bg">shopping cart</h2>
			</div>
			<table cellpadding="3" cellspacing="3">
				<tr class="blacky">
					<td class="table80">remove</td>
					<td class="table100">image</td>
					<td class="table210">name</td>
					<td class="table100">quantity</td>
					<td class="table95">unit price</td>
					<td class="table95">total</td>
				</tr>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							<a href="@Url.Action("removecartitem", "cart", new{id=item.Id})" class="btn btn-danger btn-sm">
								<i class="fa fa-times"></i>
							</a>
						</td>
						<td style="height: 80px"><img src="@item.ImageUrl" alt="" class="itemsmall" width="112%" height="100%"/></td>
						<td>@item.Name</td>
						<td>@item.Quantity</td>
						<td>@item.Price</td>
						<td>@(item.Price * item.Quantity)</td>
					</tr>
				}
			</table>

		</div>
	</div>
	<div class="grid_7 coupons">
		<label for="couponcode">coupon code</label>
		<input type="text" value="" id="couponcode" name="couponcode" />
		<input type="submit" value="apply" id="submitcoupon" class="sub" name="submitcoupon" />
		<div class="clear"></div>
		<div class="separate"></div>
		<label for="couponcode">coupon code</label>
		<input type="text" value="" id="couponcode" name="couponcode" />
		<input type="submit" value="apply" id="submitcoupon" class="sub" name="submitcoupon" />
	</div>
	<div class="grid_9">
		<span class="subtotal">sub total:&nbsp;&nbsp;&nbsp;$26.00</span>
		<span class="subtotal">vat 17% :&nbsp;&nbsp;&nbsp;&nbsp;$54.00</span>
		<div class="total">total : <span class="bigprice">$255.00</span></div>
		<div class="updaters">
			<input type="submit" class="mailsubmit" value="update" id="updater" name="updater" />
			<input type="submit" class="mailsubmit" value="checkout" id="checkouter" name="checkouter" />
		</div>
		<a href="~/home/index" class="yellow">continue shopping</a>
	</div>
</div>
